*{
    margin: 0;
    padding: 0;
    font-family: "Montserrant", sans-serif;
    box-sizing: border-box;
}
html, body{
    background-color: aliceblue;
    height: 100%;
    background-size: cover;
}

.form select{
    display: block;
    margin: 20px auto;
    box-sizing: content-box;
    border: 2px solid #1ce2f0;
    border-radius: 25px;
    width: 75%;
    height: 40px;
    padding: 2px 5px;
    font-size: 16pt;
    transition: .2s;
    outline: none;
    background-color: transparent;
    text-indent: 10px;
}

.form input{
    display: block;
    margin: 20px auto;
    box-sizing: content-box;
    border: 2px solid #1ce2f0;
    border-radius: 25px;
    width: 75%;
    height: 40px;
    padding: 2px 5px;
    font-size: 16pt;
    transition: .2s;
    outline: none;
    background-color: transparent;
    text-indent: 10px;
}

.form h2{
    padding: 30%;
}

.form input[type="button"]{
    background-color: transparent;
    color: #1ce2f0;
}
.form input[type="button"]:hover{
    background-color: #1c91f0b6;
    color: #ffffff;
    transition: 1s;
}

H1{
    padding-left: 30%;
}

